/* Main style */
body {
    font-family: 'Montserrat', sans-serif;
    /* Адаптивный фиксированный фон страницы */
    background-image: url(../img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    padding: 8px 0 8px 0;
    user-select: none;

}

/* main-block = Основной блок страницы с контентом */

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1182px;
    min-width: 1182px;
    min-height: 820px;
    max-height: 820px;
    margin: 0px auto;
    padding: 8px;
    border-radius: 10px;
    background-color: rgba(30, 46, 61, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.header {
}

.categories {
}

.container-blocks {
    display: flex;
    flex: 1 0 auto;
}

.blocks {
    display: flex;
    flex-direction: column;
    flex: 1 0 49%;
}

.blocks__left {
    margin-right: 2px;

}

.blocks__right {
    margin-left: 2px;

}

.project-blocks {
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    flex: 1 0 49%;
}
.blocks__body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
}

.blocks__list {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 1vh;
    overflow-y: auto;
}

.blocks__list::-webkit-scrollbar {
    width: 4px;
}

.blocks__list::-webkit-scrollbar-track {
    /* -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.9) inset; */
    background-color: rgba(255, 255, 255, 0.00);
    /* background-color: #f9f9fd; */
}

.blocks__list::-webkit-scrollbar-thumb {
    /* background-color: #486377; */
    background-color: rgba(72, 99, 119, 1);
    /* background-color: rgba(255, 255, 255, 0.2); */

    /* background-color: #356184; */
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%, */
                    /* color-stop(.5, rgba(255, 255, 255, .25)), */
                    /* color-stop(.5, transparent), to(transparent)); */
}

/* .blocks__list::-webkit-scrollbar { width: 0; } */

/* .blocks__list::-webkit-scrollbar {
    width: 4px;
    background-color: #ffffff;
}
.blocks__list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
} */

/* ie 10+ */
/* .blocks__list { -ms-overflow-style: none; } */

/* фф (свойство больше не работает, других способов тоже нет)*/
/* .blocks__list { overflow: -moz-scrollbars-none; } */

/* START LOGO */
.logo {
    font-family: 'Syncopate';
    font-size: 36px;
    font-weight: 400;
    color:#ffffff;
    line-height: 32px;
    display: inline-flex;
    margin: 8px 0px 16px 67px;
}

.logo__block {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.logo__block--red {
    background-color: #DC5656;
    margin-right: 3px;
}

.logo__block--blue {
    background-color: #4EA4D5;
}

.logo__name {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    margin-left: 5px;
}
/* END LOGO */

/* content__block */
.content-header {
    font-size: 12px;
    background-color: #486377;
    border-radius: 10px 10px 0 0;
    color: #ffffff;
    display: flex;
    padding: 5px 8px 5px 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content-header__title {
    font-weight: 600;
}

.content-header__category-title {
    margin: 0 auto;
    padding-right: 7.4%;
    font-weight: 500;
}

.categories__body {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.1);
    padding: 8px 2px 2px 8px;
    margin: 0 0 8px 0;
    display: flex;
    flex-wrap: wrap;

}

.block-image {
    background-color: rgba(255, 255, 255, 0.03);
    margin: 0 6px 6px 0;
}

.block-image--ms {
    border-radius: 5px;
    width: 66px;
    height: 66px;
}

.block-image--ss {
    border-radius: 5px;
    width: 32px;
    height: 32px;
}

.block-image--hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.block-image--focus {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.content-block__menu {
    /* margin-right: 6px; */
    margin-bottom: 8px;
    display: flex;
    /* border: 1px solid red; */
    /* border-color: rgba(255, 255, 255, 0.1); */
    /* padding-right: 6px; */
    /* padding-bottom: 8px; */

    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
}

.size-block-selection {
    display: flex;
}

.size-block-selection__large {
    width: 24px;
    height: 24px;
    border: 1px solid #486377;
    border-radius: 4px;
    margin-right: 4px;
}

.size-block-selection__small {
    width: 26px;
    display: flex;
    flex-wrap: wrap;
}

.size-selection__small-block {
    width: 11px;
    height: 11px;
    border: 1px solid #486377;
    border-radius: 2px;
    margin-right: 2px;
}

.size-block-selection--hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.size-block-selection--focus {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.size-block-selection__title {
    align-self: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 200;
    color: #fff;
    margin-left: 7px;
}

.block-item {
    /* background-color: rgba(255, 255, 255, 0.03);
    margin-bottom: 4px;
    display: flex;
    align-items: center; */
}

.block-item:hover {
    background-color: rgba(255, 255, 255, 0.08);
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
}

.block-item__base {
    background-color: rgba(255, 255, 255, 0.03);
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.block-item__name {
    text-transform: uppercase;
    /* align-self: center; */
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    padding-left: 8px;
    pointer-events: none;
}
.block-item__name:hover {
    color: white;
}

.button-icon {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}


.button-icon__svg--click{
    width: 24px;
    height: 24px;
    padding-left: 1px;
    padding-bottom: 0px;
}
.button-icon__svg-path--hover {
    fill: #fff;
}

.specification {
    color: #ccc;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    /* display: flex; */
}

.specification__data-block {
    padding-bottom: 6px;
    /* text-align: center; */
}

.specification__value {
    color: #fff;
    font-size: 11px;
}

.specification__value-unit {
    color: #ccc;
    text-transform: none;
}
/* end content__block */
