/* Main style */
body {
    font-family: 'Montserrat', sans-serif;

    /* Адаптивный фиксированный фон страницы */
    background-image: url(../img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* main-block = Основной блок страницы с контентом */

.wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1182px;
    min-width: 1182px;
    margin: 8px auto;
    padding: 8px 8px 0 8px;
    border-radius: 10px;
    background-color: rgba(30, 46, 61, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Logo */
.logo {
    font-family: 'Syncopate';
    font-size: 36px;
    font-weight: 400;
    color:#ffffff;
    line-height: 32px;
    display: inline-flex;
    /* clear: both; */
    margin: 8px 0px 16px 67px;
}

.logo__block {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.logo__block--red {
    background-color: #DC5656;
    margin-right: 3px;
}

.logo__block--blue {
    background-color: #4EA4D5;
}

.logo__name {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    margin-left: 5px;
}
/* end logo */

/* content__block */

.content-block__header {
    font-size: 12px;
    background-color: #486377;
    border-radius: 10px 10px 0 0;
    color: #ffffff;
    display: flex;
    padding: 5px 8px 5px 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content-block__title {
    font-weight: 600;
}

.content-block__category-name {
    margin: 0 auto;
    font-weight: 500;
}

.content-block__body {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.1);
    padding: 8px 2px 2px 8px;
    margin: 0 0 8px 0;
    /* border: 1px solid #fff; */
}

.content-block__body--height {
    max-height: auto;
    min-height: auto;
    height: auto;
}
/* .content-block__categories { */
    /* margin: 8px; */
/* } */

.block-image {
    background-color: rgba(255, 255, 255, 0.03);
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    margin: 0 6px 6px 0;
    float: left;
}

.block-image--ms {
    border-radius: 5px;
    width: 66px;
    height: 66px;
    /* margin-right: 6px; */
}

.block-image--ms:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* .block-image--ms:active {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
} */

.block-image--ms:focus {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    /* border: 1px solid #C1C1C1; */
}

.content-block--category-blocks {
    /* width: auto; */
    margin-right: 8px;
    flex-grow: 1;
}

.content-block--project-blocks {
    /* width: auto; */
    flex-grow: 1;

}

.content-block__menu {
    /* display: block; */
    width: 100%;
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    margin-right: 6px;
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: flex-start; */
    /* flex-wrap:nowrap; */
}

.size-selection {
    display: flex;
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
}
.size-selection__large-block {
    width: 24px;
    height: 24px;
    border: 1px solid #486377;
    border-radius: 4px;
    margin-right: 4px;
}

.size-selection__large-block--hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.size-selection__large-block--focus {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

/* .large-block:hover {
    background-color: rgba(255, 255, 255, 0.1);
} */

/* .large-block:focus {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
} */

.size-selection__small-blocks {
    display: inline-block;
    /* border: 1px solid #fff; */
    width: 26px;
    /* height: 29px; */
    /* flex-wrap: wrap; */
}

.size-selection__small-block {
    width: 11px;
    height: 11px;
    border: 1px solid #486377;
    border-radius: 2px;
    margin-right: 2px;
    /* flex-grow: 0; */
    /* flex-shrink: 0; */
    /* flex-basis: 11px; */
    /* flex-wrap: wrap; */
    float: left;
}

.size-selection__small-block--hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.size-selection__small-block--focus {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.size-selection__small-block--margin {
    margin-top: 2px;
}
/* end content__block */
